<div class="add-new">
<h2>Edit this cocktail</h2>
<div class="form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-success"%>
  <% end %>
</div>
<%= link_to cocktails_path do %>
  <i class="fas fa-arrow-left" style="color:black"></i>
<% end %>
</div>
