

  <div class="home-banner" style="background-image: url(<%= image_url 'cocktail.jpg' %>)">
  <div class="banner-content">
    <h1>Fancy cocktails</h1>
    <p>For you to enjoy those last minutes before livecode</p>
  </div>
</div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
     <div class="col-xs-6 col-sm-4">
      <div class="card" style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<% if cocktail.photo.present? %><%= cl_image_path cocktail.photo, height: 200, width: 300, crop: :fill %><% end %>'); background-position: 50% 50%; ">
        <h3><strong>
          <%= cocktail.name %>
        </strong></h3>
            <p>
            <%= link_to 'View', cocktail_path(cocktail), style: 'color: white' %> |
            <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, style: 'color: white' %>
            </p>
        </div>
      </div>
    <% end %>
  </div>

<div class='button'><%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-success" %></div>
