<div class="cocktail-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<% if @cocktail.photo.present? %><%= cl_image_path @cocktail.photo, crop: :fill %><% end %>'); background-position: 50% 50%;">
  <h1><%= @cocktail.name %></h1>
  <div class="btn btn-success">
  <%= link_to 'Edit', edit_cocktail_path(@cocktail)%>
  </div>
</div>
<div class="ingredients-body">
<h3>Ingredients:</h3>


<div class="ingredients-display">
  <div class="grid">
    <% @cocktail.doses.each do |dose| %>
      <div class="element">
        <%= dose.ingredient.name %>
      </div>
      <div class="element">
        <%= dose.description %>
      </div>
      <div class="element">
        <%= link_to dose_path(dose), method: :delete do%>
        <i class="far fa-trash-alt" style="color:black"></i>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="add-ingredient">
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
    <i class="fas fa-plus-circle fa-2x" style="color:black"></i>
  <% end %>
  </div>
</div>
</div>
<div class="arrow-left">
<%= link_to cocktails_path do %>
  <i class="fas fa-arrow-left" style="color:black"></i>
<% end %>
</div>
